
body{
background-color: #000000;
background-image: url("https://media.discordapp.net/attachments/327841976063885322/1067617557248483359/istockphoto-1151330332-612x612.jpg");
background-repeat: repeat;
background-attachment: scroll;
background-position: 0px 0px;
}
a.button{
    font-family: Impact;
    appearance: button;
    background: palevioletred;
    display: inline-block;
    text-decoration: none;
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
